$white: #fff
$purple: #835afd

.Button
  display: flex
  justify-content: center
  align-items: center
  height: 58px

  font: 500 1.4rem/1em 'Roboto', sans-serif

  border: 0
  border-radius: 8px
  background-color: $purple

  color: $white

  cursor: pointer
  transition-property: filter
  transition-duration: .2s
  transition-timing-function: ease-in-out

  &:not(:disabled):hover
    filter: brightness(.9)

  &:disabled
    opacity: .6
    cursor: not-allowed
